.container{
width: 1440px;
height: 2209px;
padding-top: 100px;
background: #FAFAFA;
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;

}
.h1{

height: 76px;
font-family: 'Effra';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;
/* identical to box height */
text-align: center;
color: #000000;
}
.card{

    width: 124px;
    height: 124px;
    left: 0px;
    top: 0px;
    background: #FAFAFA;
    border-radius: 8px;
margin: 20px 10px;
display: flex;
justify-content: center ;
align-items: center;
transition: all 1s ease;

}
.cardContainer{
display: flex;
justify-content: center;
}
.tweet{
width: 800px;
height: 274px;
left: 320px;
top: 3735px;
    
background-image: url('../Assets/twwet.png');
background-size: cover;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}
.card:hover{
    background: #A8FF35;
}
.tweet1{

width: 800px;
height: 804px;
left: 322px;
top: 4052px;
margin-top: 20px;
background-image: url('../Assets//twwet.1.png');


}
.button{
    margin-top: 100px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;

font-family: 'Effra';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 140%;
/* or 25px */

text-align: center;

color: #FFFFFF;

width: 198px;
height: 57px;
left: 621px;
top: 5250px;

background: #000000;
border-radius: 40px;
}