.h1{
    color: #FFFFFF  ;
    display: flex;
    flex-direction: column  ;
    font-family: Effra;
font-size: 72px;
font-weight: 600;
line-height: 81px;
letter-spacing: 0em;
text-align: center;

}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column; 
    margin-top: -100px;
}
.p{
    font-family: Effra;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
width: 40%;
margin: 0;
padding: 0;

}
.button{

    margin-top: 20px;
    height: 47px;
width: 160px;
left: 630px;
top: 478px;
border-radius: 40px;
padding: 16px, 32px, 16px, 32px;
background: #A8FF35;
border: none
;
font-size: 17px;
}
.boxContainer{
    margin-top: 150px;
    width: 100vw;
    border: 1px solid wheat;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.a{
    position: absolute;
    width: 341.23px;
    height: 82px;
    left: 186px;
    top: 0;
    
    background: #181818;
    transform: rotate(-4deg);
    font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
display: flex;  
justify-content: center;
align-items: center;
color: #FFFFFF;
    
}
.b{
    position: absolute;
    width: 341.23px;
    height: 82px;
    left: 391.16px;
    top: 70px;

    
    background: #181818;
    transform: rotate(2deg);
    
}
.c{ position: absolute;
    width: 341.23px;
    height: 82px;
    left: 639.12px;
    top: 20px;

    background: #181818;
    transform: rotate(-2deg);
    
}
.d{position: absolute;
    width: 341.23px;
    height: 82px;
    left: 913.6px;
    top: 80px;
        
    
    background: #181818;
    transform: rotate(4deg);
    
transform: rotate(4deg);
}