.container{

width: 1440px;
height: 784px;
background: #FFFFFF;
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
padding-top: 120px;
}
.h1{

width: 1160px;
height: 76px;

font-family: 'Effra';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;
/* identical to box height */


color: #000000;

}
.span{
    opacity: 0.8   ;
}
.tweet{
    position: absolute;
width: 800px;
height: 274px;
left: 320px;
top: 3735px;

}